extends layout

block content
  .layui-container
    .jrtt
      .toutiao
      h2
        a(href="/news/world/475.html")= toparticles[0].title.substring(0,28)
      ul
        each v, i in toparticles.slice(1,-1)
          li
            a(href="/kuaixun/redian/419.html")= v.title.substring(0,15)
  .layui-container
    .layui-row.layui-col-space10
      .layui-col-md3
        .col-box(style="height: 430px;")
          .col-box-title 今日焦点 / Focus
          h1
            a(href="#")= miltoparticles[0].title
          p= miltoparticles[0].abstract
          ul
            each v, i in miltoparticles.slice(1,-1)
              li
                a(href="#")= v.title
      .layui-col-md6
        #test10.layui-carousel
          div(carousel-item="")
            each v,i in pictoparticles
              .carousel-item(style="background-image:url(/images/timg.jpg);")
                a.sub-title(href="#")= v.title
          a.spec-top(href="#", style="background-image:url(/images/ji.png);")
      .layui-col-md3
        .col-box-2(style="height: 430px;")
          .col-box-title-2 互联网集萃
          ul
            each v,i in wxtoparticles
              li
                a(href="#")
                  img(src="/images/timg.jpg")
                a.news-title(href="#")= v.title.substring(0,19)
  .layui-container(style="margin-top:10px;")
    .layui-row.layui-col-space10
      .layui-col-md8
        .col-box
          .col-box-title 门户网站推荐
            span.pull-right
              each val, index in new Array(5)
                a(href="#") 总部门户
          .layui-row.layui-col-space20(style="margin: 10px 0 0 0;")
            each v, i in topwebsites
              .layui-col-md3
                a.website(href="#")
                  .thumb(style="background-image:url(/images/timg.jpg)")
                  .website-name= v.title
        img(src="/images/top.jpg" style="margin:10px 0;width:100%;height:120px;")
        .col-box
          .col-box-title 门户网站推荐
            span.pull-right
              each val, index in new Array(5)
                a(href="#") 总部门户
          .layui-row.layui-col-space20(style="margin: 10px 0 0 0;")
            each val, index in new Array(8)
              .layui-col-md3
                .website
                  .thumb(style="background-image:url(/images/timg.jpg)")
                  .website-name 门户
      .layui-col-md4
        .col-box-2
          .col-box-title-2 专题快报
          img(src="/images/iw.png" style="width:100%")
          .spec-right
            h3
              a(href="/keji/shuma/1442.html") 解放军39集团军战斗力堪比百万朝鲜军
            p 在韩国媒体眼中，解放军在东北地区的演习大都是为应对朝鲜有事而准备的，因而尤其关注该地区的中国军队动向和装备。韩国……
            ul.b_box8
              each val, index in new Array(3)
                li
                  a(href="/keji/shuma/1576.html")
                    img(src="/images/timg3.jpg" alt="网上支付还要通过银行身份鉴别 功能进一步受限")
                  h4
                    a(href="/keji/shuma/1576.html") 网上支付还要通过银行身份鉴别 功能进一步受限
                  p 外交官集团移动商务负责人表示，公司计划将微商渠道作为品牌的主轴发展方向之一，将成“微商箱包...
          img(src="/images/top.jpg" style="width:100%;margin-top:15px")
          .spec-right
            h3
              a(href="/keji/shuma/1442.html") 解放军39集团军战斗力堪比百万朝鲜军
            p 在韩国媒体眼中，解放军在东北地区的演习大都是为应对朝鲜有事而准备的，因而尤其关注该地区的中国军队动向和装备。韩国……
            ul.b_box8
              each val, index in new Array(3)
                li
                  a(href="/keji/shuma/1576.html")
                    img(src="/images/timg3.jpg" alt="网上支付还要通过银行身份鉴别 功能进一步受限")
                  h4
                    a(href="/keji/shuma/1576.html") 网上支付还要通过银行身份鉴别 功能进一步受限
                  p 外交官集团移动商务负责人表示，公司计划将微商渠道作为品牌的主轴发展方向之一，将成“微商箱包...
  div(style="margin-top:10px")
    .layui-container
      .layui-row
        .layui-col-md12
          .col-box
            .col-box-title 应用市场
              span.pull-right
                each val, index in new Array(5)
                  a(href="#") 总部门户
            .layui-row.layui-col-space20.tools
              each val, index in new Array(12)
                .layui-col-md2
                  a(href="#")
                    img(src="/images/i1.png", alt="", srcset="")
                    .tool
                      span
                        strong 工具
                      p 适用于多发点撒的fdsffdsf
block customJs
  script.
    layui.use(['carousel', 'form'], function(){
      var carousel = layui.carousel
      ,form = layui.form;
      
      //图片轮播
      carousel.render({
        elem: '#test10'
        ,width: '100%'
        ,height: '340px'
        ,interval: 5000
        ,indicator: 'none'
      });
    });